.jobBoardWrapper, button { 
  padding:10px;
  font-size:20px;
}
button { 
  margin-right:10px;
}
input, select {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size:20px;
}
.searchInput { 
  margin-right:10px;
  width:300px;
}
.searchBar{ float :right;}

.popupContent { 
  padding:15px
}

.closeButton:after{
  float:right;
  display: block;
  content: "\00d7"; /* This will render the 'X' */
  font-size:40px;
}

.errorMessage {
  width:auto;
  display:block;
  background-color: #fce4e4;
  border: 1px solid #cf0609;
  
  color:rgb(241, 2, 2);
  padding: 20px 30px;
  margin-top:20px;
  margin-bottom:20px;
}